.navContainer{
    background-color: #9B9EF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logoNavbar{
    width: 130px;
    padding: 10px;
    
}


.ulNavbar{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0 10px;
    
}

.ulNavbar li{
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #28211D
    
}


.ulNavbar a{
    text-decoration: none;
   
}